body {
	margin: 10px;
	border-bottom: 1px solid gray;
}

main{
    text-align: center;
    margin: 15px;
}

footer{
    text-align: center;
}

select{
    background-color: #ffffff;
    min-width: 160px;
    padding: 10px 10px;
    z-index: 1;
}

.line{
    border: 0.5px solid rgb(0, 0, 0);
}

div{
    text-align: center;
}

.button{
    border:none;
    display:inline-block;
    padding:10px 30px;
    text-align: center;
    text-decoration:none;
    color: white;
    background-color:rgb(21, 177, 91);
    cursor:pointer;
}


.nav{
    width:100%;
    background-color: rgb(21, 177, 91);
    text-align: center;
    text-decoration: none;
    border: none;
}

